body{
    background: blue;
    color:  grey;
    font-family: 'Oswald', sans-serif;
    font-size: 13px;
    margin: 0px;
}

a{
    color: inherit;
}

p{
    line-height: 25px;
    letter-spacing: 4px;
    text-transform: capitalize;
    padding: 20px;
}

strong{
    color: black;
}

header{
    background: orange;
}

nav{
    background: yellow;
}

section{
    background: pink;
    min-height: 80vh;
    width: 80%;
    margin: 0 auto;
}

footer{
    background: green;
    color: red;
    height: 70px;
}

footer a{
    color: black;
    text-transform: uppercase;
    text-shadow: 5px 5px 5px;
    text-align: left;
    padding: 30px;
}

h1{
    color: orange;
    font-weight: 700;
    font-family: Timens new roman;
}


#titulo{
    color: yellow;
}

.final{
    color: red;
}

.logo{
    width: 120px;
    margin: 0px;
}

ul{
    display: inline-block;
    float: right;
}

ul li{
    display: inline-block;
}

nav ul li a{
    background: #bf360c;
    text-decoration: none;
    padding: 20px;
    color: white;
}

nav ul li a:hover{
    color: black;
}


.gatofoto{
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    

}

.card{
    width: 48%; 
    margin: 1%;
    float: left;
    text-align: center;
}